@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>Hello, this programm allows you to solve euations!</h3>
        <h4>The can be in different formats(enc, rar, xml, json, txt)</h4>
        <a class="btn btn-primary" asp-controller="Response" asp-action="ResponseForm" method="get">Try it!</a>
    </div>
</body>
</html>