@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SemesterProjectUI.Models.Responses.VariableResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>Thats all( Whanna try again?</h3>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Try again!</a>
    </div>
</body>
</html>